<h3>
  New Applicant Information
</h3>

<dl>
  <%# -----------  EMAIL  ----------- %>
  <dt>
    Email Address:
  </dt>

  <dd>
    <%= @employee[:email] %>
  </dd>

  <br/>

  <%# -----------  FULL NAME  ----------- %>
  <dt>
    Full Name:
  </dt>

  <dd>
    <%= @employee[:full_name] %>
  </dd>

  <br/>

  <%# -----------  DATE OF BIRTH  ----------- %>
  <dt>Date of Birth</dt>

  <dd>
    <%= @employee[:date_of_birth] %>
  </dd>

  <br/>

  <%# -----------  CONTACT NUMBER ----------- %>
  <dt>
    Contact Number
  </dt>

  <dd>
    <%= @employee[:contact_number] %>
  </dd>

  <br/>

  <%# -----------  EDUCATION  ----------- %>
  <dt>
    Highest Educational Attainment:
  </dt>

  <dd>
    <%= @employee[:education] %>
  </dd>

  <br/>

  <%# -----------  WORK EXPERIENCE  ----------- %>
  <dt>
    Work Experience
  </dt>

  <dd>
    <%= @employee[:work_experience] %>
  </dd>

  <br/>

  <%# -----------  POSITION APPLIED  ----------- %>
  <dt>
    Position Applied:
  </dt>

  <dd>
    <%= @employee[:role] %>
  </dd>

  <br/>

  <%# -----------  CHARACTER REFERENCES  ----------- %>
  <dt>
    Character References:
  </dt>

  <dd>
    <%= @employee[:character_references] %>
  </dd>
</dl>
