-# .d-flex.justify-content-center.pb-5
  .container.border.rounded.m-5
    %h2.text-center.fw-bold.m-4
      Edit
      = resource_name.to_s.humanize
      Profile

    = simple_form_for resource,
        as: resource_name,
        url: registration_path(resource_name),
        method: :put,
        html: { class: "m-3" } do |form|

      .row
        .field.col-lg-4
          = form.input :first_name,
              label: "First Name",
              required: true,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "text" }

        .field.col-lg-4
          = form.input :middle_name,
              label: "Middle Name",
              required: true,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "text" }

        .field.col-lg-4
          = form.input :last_name,
              label: "Last Name",
              required: true,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "text" }
      .row
        .field.col-lg-6
          = form.input :date_of_birth,
              label: "Date of Birth",
              required: true,
              start_year: Date.today.year - 40,
              end_year: Date.today.year,
              discard_day: false,
              order: [:month, :day, :year],
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "datetime" }

        .field.col-lg-6
          = form.input :email,
              label: "Email Address",
              required: true,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "email", autocomplete: "email" }

        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}

      .row
        .field.col-lg-6
          = form.input :contact_number,
              label: "Contact Number",
              required: true,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "text" }

        .field.col-lg-6
          = form.input :education,
              label: "Highest Educational Attainment",
              collection: Employee::EDUCATION.map{|key| [ I18n.t(".employee.education.#{key}"), key ]},
              required: true,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "text" }

      .row
        .field.col-lg-6
          = form.input :work_experience,
              label: "Work Experience",
              collection: Employee::WORK_EXPERIENCE.map{|key| [ I18n.t(".employee.work_experience.#{key}"), key ]},
              required: true,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "text" }

        .field.col-lg-6
          = form.input :role,
              label: "Role",
              required: true,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "text" }

      .row
        .field
          = form.input :character_references,
              label: "Character References",
              required: false,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "text" }

      .row
        .field
          = form.input :file,
              label: "Upload Resume File",
              required: true,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "file" }

      .row
        .field.col-lg-6
          = form.input :password,
              label: "New Password",
              required: false,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "password", autocomplete: "new-password" },
              hint: ( "Leave blank if you don't want to change it." ),
              hint_html: { class: "form-label" }

        .field.col-lg-6
          = form.input :password_confirmation,
              label: "Confirm Password",
              required: false,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "password", autocomplete: "new-password" }

      .row
        .field
          = form.input :current_password,
              label: "Current Password",
              required: true,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "password", autocomplete: "current-password" },
              hint: ( "We need your current password to confirm your changes." ),
              hint_html: { class: "form-label" }

      - if resource.file.present?
        = link_to "View Resume", resource.file, class: "btn btn-dark w-30 mt-2 mb-4"

      = form.button :submit, "Save Changes",
            class: "btn btn-form btn-warning w-100 mt-2"

      = link_to "Return to Dashboard", :back, class: "btn btn-primary w-100 mt-2 mb-3"


.container.my-3
  .main-body
    .row
      .col-lg-4

        / --------- Employee Information --------- /
        .card.my-2
          .card-body
            .d-flex.flex-column.align-items-center.text-center
              %img.rounded-circle.p-1.bg-primary{:alt => "Admin", :src => "https://bootdey.com/img/Content/avatar/avatar3.png", :width => "110"}/

              .mt-3
                %h5
                  = @employee.first_name + ' ' + @employee.last_name

                %br

                %p.mb-1.fw-bold
                  Employee ID:

                  %span.inline.fw-normal
                    = @employee.id

                %p.mb-1.fw-bold
                  Position Applied:

                  %span.inline.fw-normal
                    = @employee.role

                %p.mb-1.fw-bold
                  Employment Status:

                  %span.inline.fw-normal
                    = t("employment_event.status.#{@employee.employment_events.last.status}")

        / --------- Resume --------- /

        - if @employee.file.present?
          = link_to "View Resume", @employee.file, class: "btn btn-dark w-100 mt-2"

        = link_to "Return to Dashboard", authenticated_employee_root_path, class: "btn btn-dark w-100 mt-2"

      / --------- Profile Information --------- /
      .col-lg-8
        .card.my-2
          .card-body
            %h5.d-flex.justify-content-between.align-items-center.mb-3
              Edit
              = resource_name.to_s.humanize
              Profile Information

              -# = link_to "Return to Dashboard", authenticated_employee_root_path, class: "btn btn-dark btn-sm m-1"
            = simple_form_for resource,
                as: resource_name,
                url: registration_path(resource_name),
                method: :put,
                html: { class: "m-3" } do |form|

              -# %dl.row.my-1
              -#   %dt.col-sm-4
              -#     First Name:

              -#   %dd.col-sm-8
              .row
                .field.col
                  = form.input :first_name,
                      label: "First Name",
                      required: true,
                      label_html: { class: "form-label" },
                      input_html: { class: "mb-2 form-control",
                                    type: "text" }


              .row
                .field.col
                  = form.input :middle_name,
                      label: "Middle Name",
                      required: true,
                      label_html: { class: "form-label" },
                      input_html: { class: "mb-2 form-control",
                                    type: "text" }

              .row
                .field.col
                  = form.input :last_name,
                      label: "Last Name",
                      required: true,
                      label_html: { class: "form-label" },
                      input_html: { class: "mb-2 form-control",
                                    type: "text" }

              .row
                .field.col
                  = form.input :date_of_birth,
                      label: "Date of Birth",
                      required: true,
                      start_year: Date.today.year - 40,
                      end_year: Date.today.year,
                      discard_day: false,
                      order: [:month, :day, :year],
                      label_html: { class: "form-label" },
                      input_html: { class: "mb-2 form-control",
                                    type: "datetime" }
              .row
                .field.col
                  = form.input :email,
                      label: "Email Address",
                      required: true,
                      label_html: { class: "form-label" },
                      input_html: { class: "mb-2 form-control",
                                    type: "email", autocomplete: "email" }

                - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                  %div
                    Currently waiting confirmation for: #{resource.unconfirmed_email}

              .row
                .field.col
                  = form.input :contact_number,
                      label: "Contact Number",
                      required: true,
                      label_html: { class: "form-label" },
                      input_html: { class: "mb-2 form-control",
                                    type: "text" }

              .row
                .field.col
                  = form.input :education,
                      label: "Highest Educational Attainment",
                      collection: Employee::EDUCATION.map{|key| [ I18n.t(".employee.education.#{key}"), key ]},
                      required: true,
                      label_html: { class: "form-label" },
                      input_html: { class: "mb-2 form-control",
                                    type: "text" }

              .row
                .field.col
                  = form.input :work_experience,
                      label: "Work Experience",
                      collection: Employee::WORK_EXPERIENCE.map{|key| [ I18n.t(".employee.work_experience.#{key}"), key ]},
                      required: true,
                      label_html: { class: "form-label" },
                      input_html: { class: "mb-2 form-control",
                                    type: "text" }
              -# .row
              -#   .field.col
              -#     = form.input :role,
              -#         label: "Role",
              -#         required: true,
              -#         label_html: { class: "form-label" },
              -#         input_html: { class: "mb-2 form-control",
              -#                       type: "text" }

              .row
                .field
                  = form.input :character_references,
                      label: "Character References",
                      required: false,
                      label_html: { class: "form-label" },
                      input_html: { class: "mb-2 form-control",
                                    type: "text" }

              .row
                .field
                  = form.input :file,
                      label: "Upload New Resume File",
                      required: true,
                      label_html: { class: "form-label" },
                      input_html: { class: "mb-2 form-control",
                                    type: "file" }

              .row
                .field.col-lg-6
                  = form.input :password,
                      label: "New Password",
                      required: false,
                      label_html: { class: "form-label" },
                      input_html: { class: "mb-2 form-control",
                                    type: "password", autocomplete: "new-password" },
                      hint: ( "Leave blank if you don't want to change it." ),
                      hint_html: { class: "form-label" }

                .field.col-lg-6
                  = form.input :password_confirmation,
                      label: "Confirm Password",
                      required: false,
                      label_html: { class: "form-label" },
                      input_html: { class: "mb-2 form-control",
                                    type: "password", autocomplete: "new-password" }

              .row
                .field
                  = form.input :current_password,
                      label: "Current Password",
                      required: true,
                      label_html: { class: "form-label" },
                      input_html: { class: "mb-2 form-control",
                                    type: "password", autocomplete: "current-password" },
                      hint: ( "We need your current password to confirm your changes." ),
                      hint_html: { class: "form-label" }

              -# - if resource.file.present?
              -#   = link_to "View Resume", resource.file, class: "btn btn-dark w-30 mt-2 mb-4"

              = form.button :submit, "Save Changes",
                    class: "btn btn-form btn-primary w-100 mt-2"
