.container
  %h1.mt-5
    Welcome to your Dashboard!

  %p
    See all employees and current statuses below.

  .table-responsive.my-5
    %table.table.table-hover
      %thead.table-dark
        %tr
          %th{ scope: "col" } Full Name

          %th{ scope: "col" } Email

          %th{ scope: "col" } Status

          %th{ scope: "col" } Details

          %th{ scope: "col" } View Resume

      %tbody
        - @employees.each do |employee|
          %tr
            %td
              = employee.full_name

            %td
              = employee.email

            %td
              = t("employment_event.status.#{employee.employment_events.last.status}")

            %td
              = link_to "View Details", employee_path(employee.id), class: "btn btn-dark btn-sm m-1"

            %td
              -# - if employee.file.present?
                = link_to "View Resume", employee.file, class: "btn btn-dark btn-sm m-1 {data-bs-target:#exampleModal data-bs-toggle:modal"

              -# %button.btn.btn-primary{"data-bs-toggle": "modal", "data-bs-target": "#pdfModal"} Open PDF Modal


              / Button trigger modal
              %button.btn.btn-primary{"data-bs-target" => "#exampleModal", "data-bs-toggle" => "modal", :type => "button"}
                View Resume
              / Modal
              #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
                .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
                  .modal-content
                    .modal-header
                      %h5#exampleModalLabel.modal-title
                        = employee.full_name

                      %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}

                    .modal-body
                      -# %object.embed-responsive-item{:data => "#{@pdf_url}", :type => "application/pdf"}
                      = render "users/dashboard/pdf_modal"
                    .modal-footer
                      %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Close
                      -# %button.btn.btn-primary{:type => "button"} Save changes

