.container.my-3
  .main-body
    .row
      .col-lg-4
        / --------- Employee Information --------- /
        .card.my-2
          .card-body
            .d-flex.flex-column.align-items-center.text-center
              %img.rounded-circle.p-1.bg-primary{:alt => "Admin", :src => "https://bootdey.com/img/Content/avatar/avatar3.png", :width => "110"}/

              .mt-3
                %h4
                  = @employee.first_name + ' ' + @employee.last_name

            %hr.my-1

            %ul.list-group.list-group-flush
              %li.list-group-item.d-flex.justify-content-between.align-items-center.flex-wrap
                %h6.mb-0
                  Date of Birth:

                %span.text-secondary
                  = @employee.date_of_birth.strftime("%B %e, %Y")

              %li.list-group-item.d-flex.justify-content-between.align-items-center.flex-wrap
                %h6.mb-0
                  Email Address:

                %span.text-secondary
                  = @employee.email

              %li.list-group-item.d-flex.justify-content-between.align-items-center.flex-wrap
                %h6.mb-0
                  Contact Number:

                %span.text-secondary
                  = @employee.contact_number

              %li.list-group-item.d-flex.justify-content-between.align-items-center.flex-wrap
                %h6.mb-0
                  Highest Education:

                %span.text-secondary
                  = t("employee.education.#{@employee.education}")

              %li.list-group-item.d-flex.justify-content-between.align-items-center.flex-wrap
                %h6.mb-0
                  Years of Work Experience:

                %span.text-secondary
                  = t("employee.work_experience.#{@employee.work_experience}")

              %li.list-group-item.d-flex.justify-content-between.align-items-center.flex-wrap
                %h6.mb-0
                  Character References:

                %span.text-secondary
                  = @employee.character_references

        = link_to "Return to Dashboard", authenticated_user_root_path, class: "btn btn-primary w-100 mt-2"

      / --------- Employment Column --------- /
      .col-lg-8
        / --------- Current & Update Status --------- /
        .card.my-2.bg-dark.text-white
          .card-body
            %dl.row
              %h5.dt
                Position Applied:

              %h6.dd
                = @employee.role

            %hr.my-3

              %h5.dt
                Current Status:

              %h6.dd.col-sm-9
                = t("employment_event.status.#{@employee.employment_events.last.status}")


        .card.my-2.bg-dark.text-white
          .card-body
            %h5.d-flex.align-items-center.mb-3
              Update Status:
              -# = EmploymentEvent::STATUSES.include? @employee.employment_events.last.status.to_sym
              -# - if EmploymentEvent::STATUSES.include? @employee.employment_events.last.status.to_sym == true

            - EmploymentEvent::STATUSES.excluding(@employee.employment_events.last.status.to_sym).each do |status|
              = link_to employee_update_status_path(@employee, status: status), class: "btn btn-warning btn-sm m-1", data: { 'turbo-method' => :put } do
                = t("employment_event.status.#{status}")

        / --------- Employment History --------- /
        .card.my-2.bg-dark
          .card-body
            %h5.d-flex.justify-content-between.align-items-center.text-white.mb-3
              Employment History
              -# = link_to "Back to Dashboard", authenticated_user_root_path, class: "btn btn-light btn-sm m-1"

            - @employee.employment_events.order(created_at: :desc).each do |employment_event|
              .card.my-2
                .card-body
                  %dl.row
                    %dt.col-sm-3
                      Status:

                    %dd.col-sm-9
                      = employment_event.status_translation

                    %dt.col-sm-3
                      Notes:

                    %dd.col-sm-9
                      = employment_event.notes

                    %dt.col-sm-3
                      Created By:

                    %dd.col-sm-9
                      - if employment_event.user.present?
                        = employment_event.user.full_name

                      - else
                        Employee-invoked Action

                    %dt.col-sm-3
                      Created At:

                    %dd.col-sm-9
                      = employment_event.created_at.strftime("%B %e %Y at %I:%M:%S %p")
