!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Extrahiredinary
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    = render partial: "shared/applicants/navbar"
    - if flash.any?
      .row
        .col
          - flash.each do |type, msg|
            - html_class = "success"
            - html_class = "danger" if type == "alert"
            .alert{class: "alert-#{html_class}", role: "alert"}
              .container.d-flex.justify-content-between
                %div
                  = msg.html_safe
                %div
                  %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}

    = yield
