-# .d-flex.justify-content-center.pb-5
  .container.border.rounded.m-5.col-lg-6
    %h2.text-center.fw-bold.m-4
      Edit
      = resource_name.to_s.humanize
      Profile

    = simple_form_for resource,
        as: resource_name,
        url: registration_path(resource_name),
        method: :put,
        html: { class: "m-3" } do |form|

      .row
        .field.col-lg-6
          = form.input :first_name,
              label: "First Name",
              required: false,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control" }

        .field.col-lg-6
          = form.input :last_name,
              label: "Last Name",
              required: false,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control" }

      .row
        .field
          = form.input :email,
              label: "Email Address",
              required: true,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "email", autocomplete: "email" }

      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}

      .row
        .field.col-lg-6
          = form.input :password,
              label: "New Password",
              required: false,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "password", autocomplete: "new-password" },
              hint: ( "Leave blank if you don't want to change it." ),
              hint_html: { class: "form-label" }

        .field.col-lg-6
          = form.input :password_confirmation,
              label: "Confirm Password",
              required: false,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "password", autocomplete: "new-password" }
      .row
        .field
          = form.input :current_password,
              label: "Current Password",
              required: true,
              label_html: { class: "form-label" },
              input_html: { class: "mb-2 form-control",
                            type: "password", autocomplete: "current-password" },
              hint: ( "We need your current password to confirm your changes." ),
              hint_html: { class: "form-label" }

      = form.button :submit, "Save Changes",
            class: "btn btn-form btn-warning w-100 mt-2"

      = link_to "Return to Dashboard", :back, class: "btn btn-primary w-100 mt-2 mb-3"


.container.rounded.bg-white
  .row
    .col-md-3
      .d-flex.flex-column.align-items-center.text-center.p-2.py-5
        %img.rounded-circle{:src => "https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg", :width => "150px"}/
        -# %p.my-0
          User ID
          = ['#', @user.id].join

    .col-md-9.p-4
      .py-5
        .d-flex.justify-content-between.align-items-center
          %h4.text-right
            Edit
            -# = resource_name.to_s.humanize
            Profile Information

        %hr

        = simple_form_for resource,
            as: resource_name,
            url: registration_path(resource_name),
            method: :put,
            html: { class: "m-0" } do |form|

          .row.mt-3
            .field.col-md-6
              = form.input :first_name,
                  label: "First Name",
                  required: false,
                  label_html: { class: "form-label fw-bold" },
                  input_html: { class: "p-2 form-control" }

            .field.col-md-6
              = form.input :last_name,
                  label: "Last Name",
                  required: false,
                  label_html: { class: "form-label my-1" },
                  input_html: { class: "mt-1 form-control" }

          .row.mt-3
            .field
              = form.input :email,
                  label: "Email Address",
                  required: true,
                  label_html: { class: "form-label my-1" },
                  input_html: { class: "mt-1 form-control",
                                type: "email", autocomplete: "email" }

          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}

          .row.mt-3
            .field.col-lg-6
              = form.input :password,
                  label: "New Password",
                  required: false,
                  label_html: { class: "form-label my-1" },
                  input_html: { class: "mt-1 form-control",
                                type: "password", autocomplete: "new-password" },
                  hint: ( "Leave blank if you don't want to change it." ),
                  hint_html: { class: "form-label" }

            .field.col-lg-6
              = form.input :password_confirmation,
                  label: "Confirm Password",
                  required: false,
                  label_html: { class: "form-label my-1" },
                  input_html: { class: "mt-1 form-control",
                                type: "password", autocomplete: "new-password" }

          .row.mt-3
            .field
              = form.input :current_password,
                  label: "Current Password",
                  required: true,
                  label_html: { class: "form-label" },
                  input_html: { class: "mb-2 form-control",
                                type: "password", autocomplete: "current-password" },
                  hint: ( "We need your current password to confirm your changes." ),
                  hint_html: { class: "form-label" }


          = form.button :submit, "Save Changes",
            class: "btn btn-form btn-warning w-100 mt-2"

          = link_to "Return to Dashboard", :back, class: "btn btn-primary w-100 mt-2 mb-3"
